
Help-I.API/obj/Debug/net5.0/Help-I.API.assets.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.assets.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.csprojAssemblyReference.cache
Help-I.API/obj/Help-I.API.csproj.nuget.dgspec.json
Help-I.API/obj/project.assets.json
Help-I.API/obj/project.nuget.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.assets.cache
Help-I.API/obj/project.nuget.cache
Help-I.API/obj/project.nuget.cache
Help-I.API/obj/project.assets.json
Help-I.API/obj/Help-I.API.csproj.nuget.dgspec.json
Help-I.API/obj/Debug/net5.0/Help-I.API.csprojAssemblyReference.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.assets.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.csprojAssemblyReference.cache
Help-I.API/obj/Debug/net5.0/Help-I.API.assets.cache
.vs/slnx.sqlite
